/* General editting of all pages */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Welcome page */
.welcome-page {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.text-subpart, .video-subpart {
  display: inline-block;
  vertical-align: middle;
}

.text-subpart {
  width: 50%;
  height: calc(100% - 40px);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: calc(5% - 40px);
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  border-radius: 25px;
}

.text-align {
  margin-top: 15%;
}

.parenthesis, .description-text {
  display: inline;
}

.member-name {
  display: inline;
}

.left-part, .right-part {
  display: inline-block;
  width: auto;
}

.video-subpart {
width: 45%;
height: auto;
background-color: white;
}

.main-text {
  height: 150px;
  font-size: 150px;
}

.description {
  height: 75px;
}

.description-text {
  font-size: 25px;
}

.group-members {
  height: 100px;
}

.member-name {
  width: auto;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-style: italic;
}

.go-to {
  height: auto;
  margin-top: 100px;
}

.left-part {
  margin-right: calc(25% - 100px);
}

.right-part {
  margin-left: calc(25% - 100px);
}

.fa-chevron-down, .fa-chevron-up {
  color: black;
}

/* Slideshow page */
.slideshow-page {
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
}

.go-to-welcome-page, .go-to-visualization-page {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border: 1px solid black;
}

.go-to-welcome-page {
  margin-right: calc(25% - 100px);
}

.go-to-visualization-page {
  margin-left: calc(25% - 100px);
}

.slideshow-area {
  width:70%;
  height: 550px;
  margin-left: 15%;
}


.photo-area{
  background-color: white;
  width: 700px;
  height: 500px;
  margin-left: calc((100% - 700px)/2);
  margin-top: 15px;
  border: 1px solid black;
}

.left-arrow, .right-arrow {
  top: 50%;
  padding: 16px;
  width:auto;
  margin-top: -22px;
  color: black;
  position: absolute;
}


.right-arrow {
  right: 15%;
  border-radius: 3px 0 0 3px;
}

.dot {
  height: 15px;
  width: 15px;
  margin-top: 7.5px;
  border-radius: 50%;
  background-color: #bbb;
  display: inline-block;
  cursor: pointer;
}

.vis-name {
  margin-top: 15px;
  font-size: 40px;
  font-weight: bold;
}

.vis-description {
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 15px;
  border: 2px solid black;
}

/*.fa-chevron-left, .fa-chevron-right {
  font-size: 30px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}*/

/*
  Visualization page
*/
.visualization-page {
  width: 100%;
  height: 100%;
  background-color: red;
}

.top-section {
  width: 100%;
  height: 40px;
  background-color: red;
}

.visualizations, .two-four-buttons {
  display: inline-block;
  margin-top: 5px;
}

.home-button, .slideshow-button, .upload-button, .visualization-button, .last-visualization-button, .two-button, .four-button {
  height: 30px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

body#four .two-button,
body#two .two-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid gray;
  width: 40px;
}

body#two .two-button {
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
}

body#four .four-button,
body#two .four-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body#two .four-button {
  width: 40px;
}

body#four .four-button {
  box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
}

.two-button, .four-button {
  cursor: pointer;
}

.two-four-buttons .text {
  font-weight: bold;
}

.buttons {
  display: inline-block;
  width: 300px;
  padding-left: 5px;
  padding-top: 5px;
  box-sizing: border-box;
}
.visualizations{
  margin-left: 10px;
}

.home-button {
  width: 40px;
  margin-right: 5px;
}

.slideshow-button {
  width: 40px;
}

.fa-home, .fa-info {
  color: black;
}

.upload-button {
  background-color: #4DADF7;
  width: 150px;
  /* margin-left: 50px; */
  /* margin-right: 100px; */
  border-radius: 10px;
  float: right;
}

.upload {
  font-family: 'Contrail One', cursive;
  font-size: 18px;
}

.fa-download, .upload {
  display: inline-block;
  font-weight: bold;
}

.fa-download {
  margin-right: 10px;
}

.two-four-buttons {
  background-color: white;
  border-radius: 10px;
  float: right;
  margin-right: 5px;
}

.visualization-button {
  margin-right: 5px;
}

.text {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.left-section {
  height: calc(100% - 45px);
  transition: width 0.5s;
}

.visualization-page#information-appear .left-section {
  width: 300px;
}

.visualization-page#information-collapse .left-section {
  width: 11px;
  margin-left: -1px;
}

.information-section {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.text-part, .collapse-button {
  display: inline-block;
}

.text-part {
  background-color: white;
  width: calc(100% - 11px);
  height: 100%;
}

.visualization-page#information-collapse .text-part {
  width: 0%;
  height: 100%;
}

.visualization-page#information-collapse .collapse-button {
  width: 10px;
}

.visualization-page#information-appear .appear,
.visualization-page#information-collapse .collapse {
  display: none;
}

.collapse-button {
  width: 10px;
  height: 100%;
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid gray;
}

.collapse, .appear {
  height: 100%;
}

.fa-chevron-left,
.fa-chevron-right {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.visualization-page#information-collapse .collapse-button {
}

.right-section {
  height: calc(100% - 45px);
  margin-left: 10px;
  transition: width 0.5s;
}

.visualization-page#information-appear .right-section {
  width: calc(100% - 315px);
}

.visualization-page#information-collapse .right-section {
  width: calc(100% - 25px);
}

.left-section, .right-section {
  display: inline-block;
  vertical-align: middle;
}

.layout {
  width: 100%;
  height: 100%;
  background-color: red;
}

/* get rid of the handle bar line */
.horizontal>.resizeHandle>.resizeHandleInner>.resizeHandleInnerDisplay,
.vertical>.resizeHandle>.resizeHandleInner>.resizeHandleInnerDisplay{
  background: none !important;
}

.top-layout-part, .bottom-layout-part {
  transition: height 0.5s;
}

body#four .top-layout-part,
body#four .bottom-layout-part {
  width: 100%;
  height: calc(50% - 2.5px);
}

body#two .bottom-layout-part {
  height: 0 !important;
}

body#two .top-layout-part {
  width: 100%;
  height: 100% !important;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  display: inline-block;
  width: calc(50% - 2.5px);
  height: 100%;
  background-color: red;
  border-radius: 10px;
  position: relative;
}

.top-layout-part .option-pane,
.bottom-layout-part .option-pane {
  width: calc(100% - 2.5px);
  height: 180px;
  background-color: green;
  position: absolute;
}

.bottom-layout-part .option-pane {
  bottom: 0;
}

.top-layout-part .inner-option-pane,
.bottom-layout-part .inner-option-pane {
  width: 100%;
  height: 100%;
  background-color: blue;
  position: absolute;
}

.top-left .option-pane,
.top-left .inner-option-pane,
.top-left .options {
  border-top-right-radius: 10px;
}

.top-right .option-pane,
.top-right .inner-option-pane,
.top-right .options {
  border-top-left-radius: 10px;
}

.bottom-left .option-pane,
.bottom-left .inner-option-pane,
.bottom-left .options {
  border-bottom-right-radius: 10px;
}

.bottom-right .option-pane,
.bottom-right .inner-option-pane,
.bottom-right .options {
  border-bottom-left-radius: 10px;
}

.top-layout-part .options,
.bottom-layout-part .options {
  width: 100%;
  height: 150px;
  background-color: yellow;
}

.bottom-layout-part .options {
  margin-top: 30px;
}

.notch {
  position: absolute;
  width: 150px;
  height: 30px;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.word, .lower-arrow, .upper-arrow {
  display: inline-block;
}

.word {
  margin-right: 5px;
  font-size: 20px;
}

.top-left .notch,
.top-right .notch {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bottom-left .notch,
.bottom-right .notch {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.visualization-area {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 10px;
}

body#four .top-left-inner,
body#four .top-right-inner,
.bottom-left-inner,
.bottom-right-inner {
  width: calc(100% - 2.5px);
  height: calc(100% - 2.5px);
}

body#two .top-left-inner,
body#two .top-right-inner {
  width: calc(100% - 2.5px);
  height: 100%;
}

.top-right-inner,
.bottom-right-inner {
  margin-left: 2.5px;
}

.bottom-left-inner,
.bottom-right-inner {
  margin-top: 2.5px;
}

#p1{
  display: run-in;
}
#p2{
  display: hidden;
}
